include ../mixins/flashMessages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

		title= title

		//- Component Stylesheets
		link(rel="stylesheet", href="/keystone/js/lib/select2/select2-3.3.2.css")
		link(rel="stylesheet", href="/keystone/js/lib/pikaday/pikaday-1.1.0.css")

		//- Keystone Stylesheet
		link(rel="stylesheet", href="/keystone/styles/keystone.min.css")
		link(href='/keystone/styles/bootstrap.css', rel='stylesheet')
		link(rel="stylesheet", href="/keystone/styles/ladda-themeless.min.css")
		link(rel="stylesheet", href="/keystone/styles/sitecore/base.css")
		block css
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		script(src="/keystone/js/sitecore/jquery-2.1.3.min.js")
		script(src='/keystone/js/sitecore/bootstrap.min.js')
		script(src='/keystone/js/sitecore/ladda/ladda.min.js')
		script(src='/keystone/js/sitecore/spin.min.js')

	body(id='page-' + page)
		include ../layout/loading
		#wrap
			#body: .container-fluid
				block intro
				block content

		//- Common
		script(src="/keystone/js/lib/underscore/underscore-1.5.1.min.js")
		script(src="/keystone/js/lib/async/async.js")

		//- Other Components
		script(src="/keystone/js/lib/moment/moment-1.7.2.min.js")
		script(src="/keystone/js/lib/move/move-0.1.1.min.js")
		script(src="/keystone/js/lib/select2/select2-3.3.2.min.js")
		script(src="/keystone/js/lib/pikaday/pikaday-1.1.0.js")
		script(src="/keystone/js/lib/pikaday/pikaday.jquery-1.1.0.js")
		script(src="/keystone/js/lib/jquery-placeholder-shim/jquery-placeholder-shim.js")
		script(src="/keystone/js/lib/tinymce/tinymce.min.js")
		script(src="/keystone/js/lib/codemirror/codemirror-compressed.js")

		//- App
		script.
			var Keystone = {};
			Keystone.csrf = function(obj) {
				obj['#{csrf_token_key}'] = "#{csrf_token_value}";
				return obj;
			};
			Keystone.csrf.key = "#{csrf_token_key}";
			Keystone.csrf.value = "#{csrf_token_value}";
			Keystone.csrf.query = "!{csrf_query}";
		if cloudinary
			script(src='/keystone/js/lib/jqueryfileupload/vendor/jquery.ui.widget.js')
			script(src='/keystone/js/lib/jqueryfileupload/jquery.iframe-transport.js')
			script(src='/keystone/js/lib/jqueryfileupload/jquery.fileupload.js')
			script(src='/keystone/js/lib/cloudinary/jquery.cloudinary.js')
			| !{cloudinary_js_config}
			script.
				Keystone.cloudinary = {
					cloud_name: "#{cloudinary.cloud_name}",
					api_key: "#{cloudinary.api_key}",
					timestamp: "#{cloudinary.timestamp}",
					signature: "#{cloudinary.signature}"
				}

		//- Keystone UI
		script(src="/keystone/js/common/plugins.js")
		script(src="/keystone/js/common/ui.js")
		script(src="/keystone/js/common/ui-alt-text.js")
		script(src="/keystone/js/common/ui-sortable.js")
		
		//- Page Scripts
		block js

